:root{
    --light-green: #b9e7e7;
}

.auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 1920px;
    background-color: var(--light-green);
}

.auth h1{
    font-size: 40px;
    color: teal;
    margin-bottom: 20px;
}

.auth form p{
    font-size: 15px;
    color: red;
    text-align: center;
}

.auth form span{
    text-align: center;
}

.auth form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: white;
    width: 300px;
    gap: 15px;
}

.auth form input{
    font-size: 20px;
    height: 30px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid grey;
}

.auth form input::placeholder{
    font-size: 15px;
}

.auth form button{
    padding: 10px;
    border: none;
    background-color: teal;
    color: white;
    cursor: pointer;
}